

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.slider{
  margin-top: 10px;
}

.image-row {
  margin-top: 20px;
}

.placeholder-image {
  width: 500px;
  height: 500px;
  background-color: gray;
}

.display-image {
  width: 500px;
}


.footer {
    margin-top: 30px;
    padding: 10px;
    text-align: center;
    background-color: #e9ecef;
}