

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.content{
  padding: 60px;
  background-color: #e9ecef;
  margin-bottom: 100px;
}

.login{
  margin-bottom: 20px;
}

.slider{
  margin-top: 10px;
}

.error-text{
  margin-left: 10px;
  color: red; 
}

.status{
  height: 38px;
}

.status-indicator{
  float: left;
  margin-right: 30px;
}

.status-text{
  margin-left: 10px;
  padding-top: 20px;
  color: black;
  font-weight: bold;
}

.image-row {
  margin-top: 20px;
}

.placeholder-image {
  width: 500px;
  height: 500px;
  background-color: gray;
}

.display-image {
  width: 500px;
}


.footer {
    margin-top: 30px;
    padding: 10px;
    text-align: center;
    background-color: #e9ecef;
}